<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/myFrontend/public/css/styles.css">
    <script src="/myBackend/server.js"></script>
    <script src="app.js"></script>
</head>
<body>

<h1 class="title"> To Do List</h1>
<div class="listArea">

    <ul>
        <div class="item">
            <li class="taskName">
                <input type="checkbox" name="taskCheck" class="taskComplete">
                <button class="btn btn removeButton pull-right"><i class="fa fa-trash w3-medium"></i></button>
                <button class="editbtn btn btn pull-right" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-edit w3-medium"></i></button>
                <label for="taskCheck" class="taskStats"><p class="taskItem">Go to the mall to get food and dinner</p></label>
            </li>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">TaskEditor</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="text" placeholder="Make changes">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn saveChange">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    </ul>    
    
</div>

<button type="submit" class="addbtn btn btn-dark">+ New Task</button> 
<div class="footer fixed-bottom">
    <input autocomplete="off" class="addList" type="text" name="newItem" class="textInput" placeholder="Type Here">
</div>
</body>
</html>