@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Montserrat&display=swap');


    /* font-family: 'Indie Flower', sans-serif;
    font-family: 'Permanent Marker', sans-serif; */


/* OverAll */
body{
    background-color: #189AB4;
}

.toDoListContainer, 
.listFooter, 
.editorTextItems, 
.editorButtons{
    display: flex;
}

.editorTextItems, 
.toDoListContainer{
    flex-direction: column;
}

.toDoListContainer{
    margin-top: 10em;
    align-items: center;
    text-align: center;
}

.editBtn, 
.deleteBtn, 
.cancelEdit, 
.confirmEdit, 
.addTask,
.emailInput, 
.passwordInput{
    border: none;
}

.confirmEdit, 
.cancelEdit, 
.headerTitle, 
.regGreeting{
    font-family: 'Indie Flower', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.editorTextItems, 
.addTask, 
.editTask, 
.logOutButton, 
.addTaskBtn, 
.deleteBtn, 
.editBtn, 
.taskItem,
.passwordInput,
.emailInput,
.submitUser,
.regFooter{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.headerTitle{
    font-size: 4.5em;
}

/* List */

li{
    list-style-type: none;
}

ul{
    padding: 3vw;
}

.cotainer{
    display: flex;
    align-items: center;
}

.logOutButton{
    position: absolute;
    top: 2vw;
    right: 6vw;
    margin-top: 0.2em;
    font-size: 1.2em;
    border-radius: 0.2em;
    padding: 0.2em 0.8em;
    border-color: black;
    background-color: #D4F1F4;
    transition: 250ms;
}

.logOutButton:hover{
    background-color: transparent;
}

.listFooter{
    margin-bottom: 6em;
    margin-top: -2em;
}

.addTask, .addTaskBtn{
    border-radius: 0.6em;
    padding: 0.4em;
}

.addTaskBtn{
    border-color: black;
    background-color: #D4F1F4;
    margin-left: -0.8em;
    transition: 150ms;
}

.addTaskBtn:hover{
    background-color: white;
}


/* ListItem */

.taskItem{
    display: inline-block;
    padding: 0 3em;
    width: calc(40ch + 0.2vw);
    word-wrap: break-word;
}

.editBtn, .deleteBtn{
    background-color: transparent;
    float: right;
}

.taskStatus{
    float: left;
}

/* Editor */
.modalContainer{
    text-align: center;
    padding: 1em;
}

.editorButtons{
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 55%;
}

.cancelEdit, .confirmEdit{
    margin-top: 0.2em;
    font-size: 1.2em;
    border-radius: 0.2em;
    padding: 0.2em 0.8em;
}


/* User Registration */

.userRegistrationContainer{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.regGreeting{

    font-size: 6em;
}

.regFooter{
   margin-top: 1em;
}

.regRedirectLink{
    color: white;
    transition: 150ms;
    text-decoration: underline;
}

.regRedirectLink:hover{
    color: black;
}

.emailInput, .passwordInput{
    border-radius: 0.6em;
    margin-bottom: 0.5em;
    padding: 0.8em;
    text-align: center;
}

.submitUser{
    margin-top: 0.4em;
    border-color: black;
    background-color: #C3E0E5;
    padding: 0.3em 1em;
    transition: 150ms;
    border-radius: 0.6em;
}

.submitUser:hover{
    background-color: transparent;
}